.img-edu {
  max-width: 85%;
  max-height: 100%;

  width: 60%;
  height: 100%;
  border-radius: 35%;
  padding-top: 5%;

  /* padding-left: 2%; */
}

.edu-text {
  padding-top: 5%;
}

.edu-list {
  font-size: larger;
}

.img-exp {
  max-width: 100%;

  padding: 2%;
}

.exp-row {
  padding: 2%;
}

.acc-main {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.main_div {
  padding-bottom: 0%;
}

/* .skills-img {
  height: 100px;
  width: 100px;
} */
