body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 2em 0;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

p {
  line-height: 1.6;
  color: #fff;
}

.profile-image {
  width: 120px; /* Adjust the size as needed */
  height: 120px;
  border-radius: 50%;
  margin: 1em auto; /* Center the image horizontally */
  display: block;
}

.main-section {
  padding: 2em 0;
}

.about-section {
  background-color: #3498db;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  color: #fff;
}

.about-section p {
  color: #fff;
}
